<div><h2>User Profile</h2></div>
<hr><br>
<div>
  Name: <%= @user.name %><br>
  Username: <%= @user.username %><br>
  Followed friends: <%= @user.following.count %><br>
  Following friends: <%= @user.followers.count %>
</div>